@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style>
        .regionSelect {
            min-width: 200px;
        }

    </style>
}


<div>
    @*Loading animation*@
    <div class="loading" id="loading" style="display:none">
        <div class="loader"></div>
    </div>

    <div>
        <h1 class="display-2">Top 10 - Covid19 Cases</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 form-inline">
            <div class="form-group">
                <label>
                    Region:
                </label>
                <select class="form-control select2 regionSelect" style="height:50px">
                    <option></option>
                </select>
                <button class="btn btn-default btn-lg" id="reportBtn">
                    Report
                </button>
                <button class="btn btn-default btn-lg" id="resetBtn">
                    Reset
                </button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 form-inline">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button id="xmlExport" type="button" class="btn btn-secondary">XML</button>
                <button id="jsonExport" type="button" class="btn btn-secondary">JSON</button>
                <button id="csvExport" type="button" class="btn btn-secondary">CSV</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="covid19_table" class="table table-hover">
            <thead>
                <tr>
                    <th id="regionOrProvince"> Region</th>
                    <th> Cases</th>
                    <th> Deaths</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ajaxStop(function () {
            $("#loading").css('display', 'none');
        });
        $(document).ajaxStart(function () {
            $("#loading").css('display', 'block');
        });

        $(document).ready(function () {
            $('.select2').select2();

            const fillDataTable = (url = '/api/Topten') => {
                $('#covid19_table').DataTable({
                    searching: false,
                    paging: false,
                    proccessing: true,
                    serverSide: true,
                    autoWidth: false,
                    filter: false,
                    orderMulti: false,
                    order: false,
                    info: false,
                    bDestroy: true,
                    ajax: {
                        url,
                        type: "GET",
                        datatype: "json",
                        dataSrc: 'Data'
                    },
                    columns: [
                        { data: "region.name" },
                        { data: "confirmed" },
                        { data: "deaths" }
                    ],
                });
            }

            const getRegions = () => {
                fetch('/api/Regions')
                    .then(data => data.json())
                    .then(res => {
                        const regions = res.Data;
                        regions.forEach(r => {
                            const option = `<option value='${r.iso}'>${r.name}</option>`;
                            $('.regionSelect').append(option)
                        });
                    })
            }

            $('#reportBtn').on('click', (e) => {
                filterByRegion();
            });

            $('#resetBtn').on('click', (e) => {
                $('#regionOrProvince').text('Region');
                fillDataTable();
            });

            $('#csvExport').on('click', (e) => {
                const regionISO = $('.regionSelect').val();
                if (regionISO!='') {
                    window.open(`/api/Provinces/CsvReport?regionISO=${regionISO}`, '_blank');
                } else {
                    window.open(`/api/TopTen/CsvReport`, '_blank');

                }
            });

            $('#xmlExport').on('click', (e) => {
                const regionISO = $('.regionSelect').val();
                if (regionISO != '') {
                    window.open(`/api/Provinces/XmlReport?regionISO=${regionISO}`, '_blank');
                } else {
                    window.open(`/api/TopTen/XmlReport`, '_blank');

                }
            });

            $('#jsonExport').on('click', (e) => {
                const regionISO = $('.regionSelect').val();
                if (regionISO != '') {
                    window.open(`/api/Provinces/JsonReport?regionISO=${regionISO}`, '_blank');
                } else {
                    window.open(`/api/TopTen/JsonReport`, '_blank');

                }
            });

            const filterByRegion = () => {
                const regionISO = $('.regionSelect').val();

                if (regionISO != '') {
                    $('#regionOrProvince').text('Province');
                    fillDataTable(`/api/Provinces?RegionISO=${regionISO}`);
                } else {
                    $('#regionOrProvince').text('Region');
                    fillDataTable();
                }
            }

            const init = () => {
                getRegions();
                fillDataTable();
            }

            init();

        });

    </script>
}